* text eol=lf
*.txt text eol=crlf

*.avif binary
*.bmp binary
*.cr2 binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.raw binary
*.tif binary
*.tiff binary
*.webp binary
*.woff binary
*.woff2 binary
